.footer {
    background-color: #001A6D; /* Dark blue background */
    padding: 20px 0;
    color: white;
    text-align: center;
    position: relative;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .quick-links {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quick-links span {
    margin-right: 20px;
    font-weight: bold;
  }
  
  .footer-nav {
    display: flex;
    gap: 20px;
  }
  
  .footer-nav a {
    color: white;
    text-decoration: none;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    margin-top: 10px;
  }
  
  .footer::before, .footer::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border: solid 4px white;
    transform: rotate(45deg);
  }
  
  .footer::before {
    left: 0;
    transform: translateY(-50%) rotate(45deg);
  }
  
  .footer::after {
    right: 0;
    transform: translateY(-50%) rotate(45deg);
  }
  